{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'booking/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'booking/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'booking/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'booking/bootstrap.min.js' %}"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Airline Booking Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/booking/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">settings <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="user">
      <a href="#" data-toggle="modal" data-target="#modalLoginForm" style="text-decoration: none; color:white"><span
          id="userName">HELLO! {{ email }}<span></a>
    </div>
  </div>
</nav>

<div class = "container">
  
  <div class = "list_of_items">     
      {% block content %}
        <div>
          <h1>Tickets Purchased</h1>
          <a class="btn btn-primary" href="{% url 'booking:userSettings' email %}" name="Sign_In" value="Sign_In" style="font-size: small;">To Settings</a>
          <a class="btn btn-primary" href="/booking/{{ email }}/store">Buy Tickets</a>
          {% for flight in flight_objects %}
          
            <br>
            <hr>
            <div>
                <h3>From: {{flight.0.departure_airport.iata}}  ->  To: {{flight.0.destination_airport.iata}}</h3>
                <h5>Around ${{flight.0.price}}</h5>
                <h6>At: {{flight.0.departure_time}} | Arriving: {{flight.0.destination_time}}</h6>
                <p>{{flight.0.airline_name}}</p>
                <a href = "{% url 'booking:deleteFlight' email flight.1 %}" name="del" value="del" class="btn btn-danger">Delete</a>
            </div>
          {% endfor %}
        </div>
      {% endblock %}   
  </div>
</div>
