{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'booking/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'booking/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'booking/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'booking/bootstrap.min.js' %}"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Airline Booking Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/booking/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">settings <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="user">
      <a href="#" data-toggle="modal" data-target="#modalLoginForm" style="text-decoration: none; color:white"><span
          id="userName">HELLO! {{ email }}<span></a>
    </div>
  </div>
</nav>

<div class = "container">
    <a class="btn btn-primary" href="{% url 'booking:userSettings' email %}" name="settings" value="settings" style="font-size: small;">To Settings</a>
    <div class = "list_of_items">
        {% load crispy_forms_tags %}
        {% block content %}
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="itemAdd" value="item" class="btn btn-primary">Add Billing Option</button>
          </form>
          <div>
            <h3>Billings Options</h3>
            {% for item in user_item_list %}
              <p>CreditCard: {{ item.0 }}- Address: {{item.1}}</p><a class = "btn btn-danger" href="/booking/userSettings/{{email}}/configureBilling/deleteBilling/{{item.2}}">Delete Payment Option</a>
            {% endfor %}
          </div>
        {% endblock %}   
    </div>
    
  </div>